@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  background: #F2F0CE;
}

header,footer{
    padding: 1rem;
    border-radius: 10px 100px / 120px;
    width: 95%;
    box-shadow: -1px 1px 5px rgb(0, 0, 0);
    margin: 10px auto 0px;
    background:#5739B9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    width: 10%;

}

header .logo img{
    width: 100%; 
}

header .logout{
    border:1px solid #ffffff;
    border-radius: 15px;
}

header .logout:hover{
    background-color:#350fb4;
    border-radius: 15px;
}

header .logout a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    margin: 10px 15px;

}

/* ---------------------------------------Container-------------- */

.container{
    width: 95%;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
}

.container .search{
   align-self: end;
   margin-bottom: .3rem;
}

.container .products{
    width: 100%;
    height: 59vh;
    /* background-color: yellowgreen; */
    display: flex;
    gap: 1rem;
    
}


.container .products .aside{
    width: 20%;
    height: 100% ;
    display: flex;
    border-radius: 100px 10px / 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 5px black;
    background: #5739B9;
}

.container .products .aside h3{
 font-size: 1rem;
 font-weight: bold;
 text-decoration: underline;
 color: #ffffff;
}

.container .products .table{
    width: 85%;
   
    /* display: flex; */
}

.container .products .table table{
    font-size: .9rem;
    width: 100%;
    /* height: 100%; */
}

.container .products .table table tr th{
    width: 20%;
    
    
 }


h2{
 color: rgb(0, 0, 0);
 font-size: 2em;
}

.images{
    width: 20%;
}

.container .products .table table tr{
 background-color: #ffffff;
 height: 60px;
 text-align: center;
}





/* ---------------pagination--------------add */
.add{
    width: 95%;
    margin:1rem auto 2rem;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1rem;

}

.add .vide{
    width: 20%;
}

.add .footer{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.add .footer .paginnation ol li{
    list-style: none;
    display: inline;
    background-color: rgb(163, 162, 162);
    padding: 0 10px;
}

.add .footer .new form input{
    padding:.1rem 1.5rem ;
    border: none;
    border-radius: 100px 10px / 100px;
    font-weight: bolder;
    background-color: #F4D577;
}

.add .footer .new form input:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #fac629 !important;
}

ol .active{
    background-color: #F4D577 !important;
}

ol li{
    margin-right: 8px;
    border-radius: 100px 10px / 100px;
}

ol .active:hover{
    cursor: pointer;
    background-color: #fac629 !important;
}

ol li a{
   text-decoration: none;
   font-weight: bold;
}

footer p{
    color: #ffffff;
}



/* .add .paginnation ol li{
    list-style: none;
    display: inline;
    background-color: wheat;
    padding: 0 10px;
} */


/* .container .products table{
    width: 100%;
}


.container .products table fieldset h2{
    text-align: center;
}


.container .products table tr th{
    text-align: center;
   
} */
/* responsive */

@media only screen and (max-width: 722px) {
    .container .products .aside{
        display: none;
    }

    .container .products{
        flex-direction: column;
        align-items: center;
        
    }

    .add{
        width: 100%;
        margin:.1rem auto 0;
        
    
    }

    .add .vide{
        display: none;
    }
    
    .add .footer{
        flex-direction: column;
        margin: 0 auto;

    }

    .container .search{
        align-self: center;
     }
  }


  @media only screen and (max-width: 490px) {
    .container{
        width: 490px;
    }
  }